.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

src/auto-imports.d.ts
src/components.d.ts
src/i18n/*
.eslintrc-auto-import.json
*.md